:root{}

/*  */
*{
    box-sizing: border-box;
   
}

/*  */
ul{
    list-style: none;
    margin : 0;
    padding : 0;
}
a{
    text-decoration: none;
    color:black;
}
body{
    margin : 0;
    padding : 0;

    font-family: "Noto Sans KR", sans-serif;
}

/*  */
.layout-1{
    /* width : 1200px; */
    /* margin : 0 auto; */

    /* 
        1920px - 1200px = 720px
        720px/2 = 360px
        360px을 vw로 변환 = 18.75vw;
    */
    padding : 0 18.75vw;
}


/*  */
.wrapper{}
/* .wrapper *{border:1px solid;} */

/*  */
.wrapper>header{
    height : 60px;
}
.wrapper>header>.top-header{}

.wrapper>header>nav{
    height : 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom:1px solid; */

    position:relative;
}

.wrapper>header>nav>*{
    height:100%;
    width:100%;
    
}
.wrapper>header>nav>.left{
    width:350px;
    height:100%;
    display:flex;
    justify-content: left;
    align-items: center;
}
.wrapper>header>nav>.center{
    width:100%;
    height:100%;
    display:flex;
    justify-content: left;
    align-items: center;
    
}

.wrapper>header>nav>.center>.mainmenu{
    height:100%;
    display:flex;
    justify-content: left;
    align-items: center;
}
.wrapper>header>nav>.center>.mainmenu>li{
    height:60px;
    padding : 0 20px;
    /* border: 1px solid; */
    opacity: .8;
  
}
.wrapper>header>nav>.center>.mainmenu>li>a{
    display:block;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:.2s;
  
}
.wrapper>header>nav>.center>.mainmenu>li:hover{
    border-bottom : 3px solid;
    opacity: 1;
}

.wrapper>header>nav>.center>.mainmenu>li>.submenu{
    /* border: 1px solid; */
    
    /* display:none; */

    visibility: hidden;
    height : 0;
    overflow :hidden;
   
    
 
        
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    background-color: beige;;
    position:absolute;
    left:0;
    top:60px;
    width:100%;

    padding-top : 20px;
    padding-bottom : 20px;

    background-color:white;
    border-top : 1px solid lightgray;
    border-bottom : 3px solid;


}
.wrapper>header>nav>.center>.mainmenu>li>.submenu>li{
    padding : 0;
    border : 1px solid;
    position:relative;
    
}
.wrapper>header>nav>.center>.mainmenu>li>.submenu>li>a{
    display:block;
   
    font-size:1rem;
    font-weight:600;
    padding:5px 0;
    display:flex;
    justify-content: left;
    align-items: start;
}

.wrapper>header>nav>.center>.mainmenu>li>.submenu>li>ul{
    position:relative;
    left:0;
    top:0px;
    width : 100%;
}
.wrapper>header>nav>.center>.mainmenu>li>.submenu>li>ul>li>a{
    display:block;
    padding:10px 0;
    font-size:.9rem;
    color:rgb(91, 90, 90);
}

.wrapper>header>nav>.center>.mainmenu:hover .submenu{
    visibility: visible;
    height : 450px;
    transition: .4s;
    z-index:5; 
    overflow:hidden;
  
}
.wrapper>header>nav>.center>.mainmenu>li:hover .submenu{
   
}
.wrapper>header>nav>.center>.mainmenu>li:hover .submenu{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
   
}
.wrapper>header>nav>.center>.mainmenu>li:nth-child(2):hover .submenu{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    
}
.wrapper>header>nav>.center>.mainmenu>li>a{
    position:relative;
}
.wrapper>header>nav>.center>.mainmenu>li>a>.material-symbols-outlined{
    font-size : 1rem;

}



.wrapper>header>nav>.right{
    width :250px;

    display:flex;
    justify-content: right;
    align-items: center;
    gap:10px;
}

/*  */
.wrapper>main{}

.wrapper>main>section h2{
    font-size:26px;
    font-weight:600;
    margin-top:10px;
}
.wrapper>main>section{ 
    border:1px solid;
}

/* banner */
.wrapper>main>section:nth-child(1){
    position:relative;
    height:400px;
    width :100%;
    
}
.wrapper>main>section:nth-child(1) .carousel-item{
    width:100%;
    height:400px;
    overflow:hidden;
}
.wrapper>main>section:nth-child(1) .carousel-item img{
    width:100%;
    height:400px;
   
}
.wrapper>main>section:nth-child(1)>.slide-block{
    width:1160px;
    height:400px;
    overflow:hidden;
}
.wrapper>main>section:nth-child(1)>.slide-block>.slide-wrapper{
    width:calc(1160px * 3);
    height:400px;
    /* border:3px solid orange; */
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;

    transition: .3s;
}
.wrapper>main>section:nth-child(1)>.slide-block>.slide-wrapper>.item>.text{
    width:420px;
    height:400px;
    border:1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrapper>main>section:nth-child(1)>.slide-block>.slide-wrapper>.item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper>main>section:nth-child(1)>.slide-block>.slide-wrapper>.item>.iamge{
    width:calc(100% - 420px);
    height:400px;
    border:1px solid
}

.wrapper>main>section:nth-child(1)>.slide-block>.slide-wrapper.item>.image>img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.banner>.slide-block>#s1:checked~.slide-wrapper{
    left:0;

}

.banner>.slide-block>#s2:checked~.slide-wrapper{
    left:-1160px;

}
.banner>.slide-block>#s3:checked~.slide-wrapper{
    left:calc(-1160px * 2);
}
.banner input[type="radio"]{
    display: none;
}

.wrapper>main>section:nth-child(2){
    height : 150px;
    border:0;
}
.wrapper>main>section:nth-child(2)>ul{
    height : 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:50px;
}
.wrapper>main>section:nth-child(2)>ul>li{
    width : 80px;
    height : 80px;
    min-width : 80px;
    min-height : 80px;
    border-radius: 15px;
    border:1px solid;
}
.wrapper>main>section:nth-child(2)>ul>li>a{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.wrapper>main>section:nth-child(2)>ul>li>a>span{}


.wrapper>main>section>.head{
    margin-bottom:20px;
}
.wrapper>main>section:nth-child(3){
    /* border:0; */
    /* height : 1080px; */
}
.wrapper>main>section:nth-child(3)>.head{
    height : 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:20px;
}
.wrapper>main>section:nth-child(3)>.head>.left{}
.wrapper>main>section:nth-child(3)>.head>.right{
    display:flex;
    justify-content: right;
    align-items: center;
}

.wrapper>main>section:nth-child(3)>.body{
    height : 1030px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}
.wrapper>main>section:nth-child(3)>.body>.item{
    width:100%;
    min-width: 300px;
    height:450px;
    border-radius: 15px;
    border:1px solid;
/* display: flex; */
    flex-direction: column;
    justify-content: start;
    align-items: center;

}
.wrapper>main>section h3{
    font-size: 18px;
    font-weight: 600;
}
.wrapper>main>section:nth-child(3)>.body>.item>.top{
    height:50%;
}
.wrapper>main>section:nth-child(3)>.body>.item>.top>img{
    width: 100%;
    height:100%;
    object-fit: contain;
    border-radius: 15px 15px 0 0;
    background-color: black;
}

.wrapper>main>section:nth-child(3)>.body>.item>.bottom{
    padding:10px 15px;
 
}
.wrapper>main>section:nth-child(3)>.body>.item>.bottom>.title{
    
    padding-top:15px; 
}

.wrapper>main>section:nth-child(3)>.body>.item>.bottom>.info{

    padding:15px 0;
    padding-bottom:30px;
 
    border-bottom: 1px solid lightgray;
}
.wrapper>main>section:nth-child(3)>.body>.item>.bottom>.info>span{
    font-size: .8rem;
    margin-right:15px;
    padding:5px;
    font-weight:600;
    background-color: lightgray;
    border-radius: 5px;
}
.wrapper>main>section:nth-child(3)>.body>.item>.bottom>.info>span:nth-child(1){
    background-color: skyblue;
    color:brown
}
.wrapper>main>section:nth-child(3)>.body>.item>.bottom>.info>span:nth-child(2){
    background-color: lightyellow;
    color: blue;
}
.wrapper>main>section:nth-child(3)>.body>.item>.bottom>.info>span:nth-child(3){
    background-color: lightgreen;
    color:red;
}



.wrapper>main>section:nth-child(3)>.body>.item>.bottom>.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 0px;
    height:100%;
}
.wrapper>main>section:nth-child(3)>.body>.item>.bottom>.foot>.price{
    font-size:16px;
    font-weight:600;
}
.wrapper>main>section:nth-child(3)>.body>.item>.bottom>.foot>.star{
    background-color: gray;
    padding:5px;
    font-size: .8rem;
    color:white;
}



/* width : 100%;
    height :100%;
    border-radius: 15px;
    border:1px solid;
} */


.wrapper>main>section:nth-child(4){
    height : 500px;
}
.wrapper>main>section:nth-child(4)>.head{
    height : 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper>main>section:nth-child(4)>.head>.left{}
.wrapper>main>section:nth-child(4)>.head>.right{}

.wrapper>main>section:nth-child(4)>.body{
    height : calc(100% - 50px);
    display:flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap:wrap;

    gap:32px;
}
.wrapper>main>section:nth-child(4)>.body>.item{
    width : calc(100%/2 - 32px);
    height : 100%;
    border:1px solid;
}


.wrapper>main>section:nth-child(5){
   height : 400px;
}

.wrapper>main>section:nth-child(5)>.head{
    height : 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper>main>section:nth-child(5)>.head>.left{}
.wrapper>main>section:nth-child(5)>.head>.right{}

.wrapper>main>section:nth-child(5)>.body{
    height : calc(100% - 50px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}
.wrapper>main>section:nth-child(5)>.body>.item{
    width :100%;
    height : 100%;
    border-radius: 15px;
    border:1px solid;
}
.wrapper>main>section:nth-child(2)>ul>li>a{
    position: relative;
    justify-content: center;
    align-items: center;
}
.wrapper>main>section:nth-child(2)>ul>li{
    width:80px;
    height:80px;
    min-width: 
}



.wrapper>main>section:nth-child(2)>ul>li::after{
    content: "";

    height: 80px;
    width: 80px;
    min-width: 80px;
    min-height: 80px;;
    border:1px solid;
    margin-top : 10px;
    font-size:1rem;

    display:flex;
    justify-content: center;
    align-items:center;
    position:absolute;
    bottom : -30px;
    left:-30px;
}
.wrapper>main>section:nth-child(2)>ul>li:nth-child(1)::after{
    content: "무료 국비 강의";
}

.wrapper>main>section:nth-child(2)>ul>li:nth-child(2)::after{
    content:"코딩 테스트 문제"
}
.wrapper>main>section:nth-child(2)>ul>li:nth-child(3)::after{
    content:"수강중인 강의"
}
.wrapper>main>section:nth-child(2)>ul>li:nth-child(4)::after{
    content: "채용 공고"
}
.wrapper>main>section:nth-child(2)>ul>li:nth-child(5)::after{
    content : "채용프로그램"
}
.wrapper>main>section:nth-child(2)>ul>li:nth-child(6)::after{
    content:"스킬 체크"
}
.wrapper>main>section:nth-child(2)>ul>li:nth-child(7)::after{
    content:"코딩인증역량시험"
}



/*  */
.wrapper>footer{
    height : 300px;
}

.fixed{
    width:100%;
    height:60px;

    position:fixed;
    left:0;
    top:0;
    background-color: white;
    z-index:1000;
    
}