@font-face {
    font-family: "black-hans-sans";
    src: url("/netflix/BlackHanSans-Regular.ttf");
}
body{
    background-color: beige;
    margin:0;
    padding:0;
}
*{
    text-decoration: none;
    font-family: 'black-hans-sans',serif;
}
.layout-1{

    padding:0 10%;
}
a{
    color:black;
}
ul{
    list-style: none;
}
input{
    height:50px;
    line-height: 50px;
    border:none;
    margin-left:20px;
    font-size: 1rem;
}

/*  */
.wrapper{
}
.wrapper>header{
    height:430px;
    background-color: #CBCBAD;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* top-header  */
.wrapper>header>.top-header{
    height:100px;
    display: flex;
    justify-content: space-between;
}
.wrapper>header>.top-header>div:nth-child(2){
    margin-right:50px;

}
.wrapper>header>.top-header>.logo{
    margin-left:60px; 
}
.wrapper>header>.top-header>.logo>a>img{
    height:100%;
}
.wrapper>header>.top-header>div:nth-child(2){
    font-size:3rem;
    margin-top:30px;
}
.wrapper>header>.top-header>div:nth-child(2)>a{
    color:#294B52;
}
.wrapper>header>.top-header>a>.sign{
    width:100px;
    height:37px;
    background-color: #8EB988;
    border-radius: 15px;
    margin:20px;
    display: flex;
    align-items: center;   
    justify-content: center;
}



/* mid-header 검색 창 부분 */
.wrapper>header>.mid-header{
    height:64px;
    width:45vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    border:1.5px solid;
    border-radius: 20px;
    font-size: 1.5rem;
    color:#294B52;

}
.wrapper>header>.mid-header>div:nth-child(1){
    width:10vw;
    height:100%;
    border-right:3px solid;

    display:flex;
    align-items: center;
}
.wrapper>header>.mid-header>div:nth-child(2){
    width:10vw;
    height:100%;
    border-right:3px solid;

    display:flex;
    align-items:center;
}
.wrapper>header>.mid-header>div:nth-child(3){
    width:10vw;
    /* padding:0 40%; */
}

/* bottom-`header 숙소 구분메뉴 부분 */
.wrapper>header>.bottom-header{
    width:100%;
}

.wrapper>header>.bottom-header>nav>{
    width:100%;
    height:100px;

}
.mainmenu{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}



/* main 페이지 */
.wrapper>main{
    background-color: white;
}
.wrapper>main>section{
    width:80vw;
    height:400px;
    display:flex;
    justify-content:space-between;
}
/* 숙소 이미지 */
.wrapper>main>section>.image{
    width:10%;
    height:100%;
    padding:80px 100px;  /* 패딩땜에 구겨지면 마진을 주면 되나?*/
}
.wrapper>main>section>.image>a>img{
    width:200px;
    height:200px;
}

/* 숙소 이름,정보 info_top */
.wrapper>main>section>.info{
    width:75vw;
    height:100%;
    padding-right:80px;
}
.wrapper>main>section>.info>.info_top{
width:100%;
height:150px;
border-bottom:2px solid;
display:flex;
align-items: flex-end;
justify-content: space-between;
}
.wrapper>main>section>.info>.info_top>.name{
    font-size:2.5rem;
}
.wrapper>main>section>.info>.info_top>.reserve ul{
    font-size:1.3rem;
}
.wrapper>main>section>.info>.info_top .reserve_button{
    width:190px;
    height:72px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* info_bottom 숙소 주소,설명 */
.wrapper>main>section>.info>.info_bottom




.wrapper>footer{}
.wrapper>footer>div>.policy{
    display: flex;
    justify-content: left;
    align-items: center;
}
.wrapper>footer>div>.policy li:first-child{
    padding-left:0px;
}
.wrapper>footer>div>.policy li{
    padding:10px 40px;
}
.wrapper>footer{
    background-color: #D9D9D9;
    width:100%;
    height:300px;
}